/* .well{
    width: 8%;
} */


#pButtons{
    margin-top: 1%;
}

#checkboxDays{
    visibility: hidden;
}

.form-group{
    padding-right: 2%;
}
.fc-toolbar {
    text-transform: uppercase;
  
}


.btnDeleteTask{
    position: absolute;
    bottom: 6.6%;
    right: 3%;
}