.fishImg{
    border: 3px solid #00A8FF;
    /* width: 45%; */
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
    /* margin-left: 23%; */
    margin-right: auto;
}

.btnSpecimen{
    transition: 300ms;
    background-color: #FFF7DF;
    border-color: black;
    box-shadow: 0 0 0 1px;
}

.btnSpecimen:hover{
    background-color: #32B6E6;
    box-shadow: 0 0 0 5px;
    transition: 300ms;
}


.fishImg:hover{
    filter: drop-shadow();
    transition: 200ms;
}

.specimensOptions{
    width: 55%;
}

.option{
    padding-left: 20px;
    padding-right: 20px;
}

#addSpecimensPanel{
    width: 30%;
}

#specimensPanelContent{
    padding: 15px;   
}

.input-sm{
    width: 10%;
}

#wellTitle{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3%;
}
